In [7]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='stannida', api_key='tTDV8Tk5xqORM8dE27b8')

In [2]:
females = pd.read_csv("people.csv")

In [3]:
females.head()

,Name,Age,Bio,Distance(from Koblenz),school,job,number of photos,instagram,spotify
0,Giulia,20,20 | Jura | Travel | Fitness | Food is Love\nC...,48,1,0,6,0,0
1,Zeynep,19,NaN,72,0,0,1,0,0
2,Larissa,21,Insta: _larilou1_,44,0,0,4,0,0
3,Sina,26,tennis\ncanoe slalom \nstudying economic psych...,48,1,1,7,1,0
4,Kimberley,19,NaN,93,0,0,5,0,0

In [9]:
age = females['Age'].value_counts().to_dict()
layout = go.Layout(yaxis=go.layout.YAxis(title='Age'),
                   xaxis=go.layout.XAxis(
                       range=[-20, 20],
                       tickvals=[-20, -10, -5, 0, 5, 10, 20],
                       ticktext=[20, 10, 5, 0, 5, 10, 20],
                       title='Number'),
                   barmode='overlay',
                   bargap=0.1)

data = [#go.Bar(y=,
               #x=men_bins,
               #orientation='h',
               #name='Men',
               #hoverinfo='x',
               #marker=dict(color='powderblue')
               #),
        go.Bar(x = list(age.values()), 
               y = list(age.keys()),
               orientation='h',
               name='Women',
               #text=-1 * age.astype('int'),
               hoverinfo='x+y',
               marker = dict(color='seagreen')
               )]

py.iplot(dict(data=data, layout=layout))

In [23]:
school = females['school'].value_counts().to_dict()
layout = go.Layout(title = "School is mentioned")
trace = go.Pie(labels=['No school', 'School'], values=list(school.values()),
               hoverinfo='label+value', textinfo='percent', 
               textfont=dict(size=20))
py.iplot(dict(data=[trace], layout=layout))

In [24]:
job = females['job'].value_counts().to_dict()
layout = go.Layout(title = "Job is mentioned")
trace = go.Pie(labels=['No job', 'Job'], values=list(job.values()),
               hoverinfo='label+value', textinfo='percent', 
               textfont=dict(size=20))
py.iplot(dict(data=[trace], layout=layout))